<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card mt-2 border-dark mb-3">

      <div class="card-header">
        <h2><%= t('.sign_up') %></h2>
      </div>
      <div class="card-body">

        <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= label_tag('inputEmail', 'Email', class: 'font-weight-bold') %>
            <%= f.email_field :email, autofocus: true, 
                              autocomplete: "email", 
                              class: "form-control", 
                              id:"inputEmail", 
                              placeholder:"Email" %>
          </div>
          <div class="form-group">
            <%= label_tag('inputUsername', 'Имя', class: 'font-weight-bold') %>
            <%= f.text_field :username, autofocus: true, 
                              class: "form-control", 
                              id:"inputUsername", 
                              placeholder:"Имя" %>
          </div>
          <div class="form-group">
            <%= label_tag('inputPassword', 'Пароль', class: 'font-weight-bold') %>
            <% if @minimum_password_length %>
              <em>(не менее <%= @minimum_password_length %> символов)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", 
                                    class: "form-control", 
                                    id: "inputPassword",
                                    placeholder: "Пароль" %>
          </div>
          <div class="form-group">
            <%= label_tag('inputPasswordConfirmation', 'Подтверждение пароля', class: 'font-weight-bold') %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                                                 class: "form-control", 
                                                 id: "inputPasswordConfirmation",
                                                 placeholder: "Подтверждение пароля" %>
          </div>
          <div class="actions">
            <%= f.submit t('.sign_up'), class: 'btn btn-primary mb-2' %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
