<div class="card ml-2 pointer mt-3 item <%= "border border-success shadow" if budget == current_budget  %>" 
                                data-url="<%= budget_path(budget) %>"
                                data-hash="<%= budget.id %>">
  <div class="card-header">

    <span class="d-flex">
      <h2 class="my-0 font-weight-normal">
        <%= link_to budget, budget_path(budget)%>
      </h2>
      <%= link_to fa_icon('trash-o 2x'), budget_path(budget), remote: true, method: :delete, class: "ml-1 ml-auto align-self-center" %>
    </span>

  </div>
  <div class="card-body">
    <ul class="list-unstyled mt-3 mb-4">
      <li>Сумма доходов: <%= number_to_currency(budget.operations_amount('income'), strip_insignificant_zeros: true) %> </li>
      <li>Сумма расходов: <%= number_to_currency(budget.operations_amount('expense'), strip_insignificant_zeros: true) %> </li>
    </ul>
  </div>
</div>
