<div class="card mb-4 pointer <%= "border border-success shadow" if budget == current_budget  %>" 
                                data-url="<%= budget_path(budget) %>">
  <div class="card-header">
    <h2 class="my-0 font-weight-normal">
      <%= link_to budget, budget_path(budget)%>
    </h2>
  </div>
  <div class="card-body">
    <ul class="list-unstyled mt-3 mb-4">
      <li>Сумма доходов: <%= budget.operations_amount('income') %> <%= t('currency.value') %> </li>
      <li>Сумма расходов: <%= budget.operations_amount('expense') %> <%= t('currency.value') %></li>
    </ul>
  </div>
</div>
