<%# Список бюджетов %>

<div class="owl-carousel owl-theme text-center">
  <%= render partial: "budget", collection: @budgets_facade.budgets, locals: {current_budget: @budgets_facade.budget} %>
</div>

<div class="flex-column-reverse flex-lg-row row align-items-start">

  <%# Таблица всех операций %>
  <div class="col-md-12 col-lg-8">
    <% unless @budgets_facade.operations.empty? %>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= t('.date') %></th>
            <th scope="col"><%= t('.category') %></th>
            <th class="d-none d-lg-table-cell" scope="col"><%= t('.payment_method') %></th>
            <th class="d-none d-lg-table-cell" scope="col"><%= t('.description') %></th>
            <th scope="col"><%= t('.amount') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "operations/operation", collection: @budgets_facade.operations, locals: { budget: @budgets_facade.budget } %>
        </tbody>
      </table>

      <%= paginate @budgets_facade.operations %>
    <% end %>
  </div>

  <%# Выпадающая форма с добавлением операции %>
  <div class="col-md-12 col-lg-4 mb-3">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <%= link_to t('.btn_new_operation'), new_budget_operation_path(@budgets_facade.budget, @budgets_facade.operation), 
                remote: true, class: "btn btn-link", 
                data: {toggle: "collapse", target: "#collapseExample" }, 
                aria: {expanded: "false", controls: "collapseExample"} %>
          </h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%= t('.btn_new_attachment') %>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <%= render partial: "attachments/form", locals: { budget: @budgets_facade.budget, attachment: @budgets_facade.attachment } %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
