<%# Список бюджетов %>
<div class="card-deck mb-3 text-center mt-3">
  <%= render partial: "budget", collection: @budgets, locals: {current_budget: @budget} %>
</div>

<div class="row align-items-start">

  <%# Таблица всех операций %>
  <div class="col-sm-8">
    <% unless @operations.empty? %>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= t('.date') %></th>
            <th scope="col"><%= t('.category') %></th>
            <th scope="col"><%= t('.description') %></th>
            <th scope="col"><%= t('.amount') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "operations/operation", collection: @operations, locals: { budget: @budget } %>
        </tbody>
      </table>
    <% end %>
  </div>

  <%# Выпадающая форма с добавлением операции %>
  <div class="col-sm-4">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <%= link_to t('.btn_new_operation'), new_budget_operation_path(@budget, @operation), 
                remote: true, class: "btn btn-link", 
                data: {toggle: "collapse", target: "#collapseExample" }, 
                aria: {expanded: "false", controls: "collapseExample"} %>
          </h5>
        </div>
      </div>
    </div>
  </div>

</div>
