<div class="card mt-3 card-form">
  <div class="card-header">

    <% if resource.category.persisted? %>
      <span class="d-flex">
        <h3><%= t('.edit_category') %></h3>
        <%=link_to fa_icon('window-close'), new_category_path, remote: true, class: "ml-auto align-self-center" %>
      </span>
    <% else %>
      <h3><%= t('.new_category') %></h3>

    <% end %>

  </div>

  <div class="card-body">

    <%= form_with(model: resource.category) do |f| %>
      <%# Дата операции %>
      <div class="form-group">
        <%= label_tag('inputName', t('.name'), class: 'font-weight-bold') %>
        <%= f.text_field :name, class: "form-control", 
                                id:"inputName" %>
      </div>

      <%# Тип операции %>
      <div class="form-group">
        <%= label_tag('category_operation_type', t('.type'), class: 'font-weight-bold') %>
        <% selected =  resource.category.operation_type || '' %>
        <%= f.select(:operation_type, options_for_select(operation_types, selected), {prompt: true}, { placeholder: t('.type'), class: 'custom-select', selected: '0' }) %>
      </div>

      <%# Отправка формы %>
      <div class="actions">
        <%= f.submit t('.send'), class: 'btn btn-primary mb-2' %>
      </div>
    <% end %>

  </div>
</div>
