    <%= form_with(model: [budget, operation], html: {name: 'addNewOperation'}) do |f| %>
  <%# Дата операции %>
  <div class="form-group">
    <%= label_tag('inputDate', t('.date'), class: 'font-weight-bold') %>
    <%= f.date_field :date, autofocus: true, 
                              class: "form-control", 
                              id:"inputDate", 
                              placeholder:"Email" %>
  </div>

  <div class="form-row">
    <div class="col">
      <%# Тип операции %>
      <div class="form-group">
        <%= label_tag('inputType', t('.type'), class: 'font-weight-bold') %>
        <%= select(:operation, :operation_type, [["Приход", 'income'], ['Расход', 'expense']], {}, { placeholder: t('.type'), class: 'custom-select' }) %>
      </div>
    </div>

    <%# Категория %>
    <div class="col">
      <div class="form-group">
        <%= label_tag('inputCategory', t('.category'), class: 'font-weight-bold') %>
        <%= f.collection_select(:category_id, categories, :id, :name, {}, { placeholder: t('.category'), class: 'custom-select' }) %>
      </div>
    </div>
  </div>

  <%# Описание %>
  <div class="form-group">
    <%= label_tag('inputDescription', t('.description'), class: 'font-weight-bold') %>
    <%= f.text_field :description,  class: "form-control", 
                                    id: "inputDescription",
                                    placeholder: t('.description') %>
  </div>

  <%# Сумма %>
  <div class="form-group">
    <%= label_tag('inputAmount', t('.amount'), class: 'font-weight-bold') %>
    <%= f.text_field :amount, class: "form-control", 
                                id: "inputAmount",
                                placeholder: t('.amount') %>
  </div>

  <%# Отправка формы %>
  <div class="actions">
    <%= f.submit t('.send'), class: 'btn btn-primary mb-2' %>
  </div>
<% end %>
