<%= form_with(model: [budget, operation], html: {name: 'operationForm'}) do |f| %>
  <%# Дата операции %>
  <div class="form-group">
    <%= label_tag('inputDate', t('.date'), class: 'font-weight-bold') %>
    <%= f.date_field :date, autofocus: true, 
                              class: "form-control", 
                              id:"inputDate", 
                              placeholder:t('.date') %>
  </div>

  <%# Категория %>
  <div class="form-group">
    <%= label_tag('inputCategory', t('.category'), class: 'font-weight-bold') %>
    <%= f.collection_select(:category_id, categories, :id, :name, {}, { placeholder: t('.category'), class: 'custom-select' }) %>
  </div>

  <%# Способ оплаты %>
  <div class="form-group">
    <%= label_tag('inputCategory', t('.payment_method'), class: 'font-weight-bold') %>
    <%= f.collection_select(:payment_method_id, payment_methods, :id, :name, {}, { placeholder: t('.payment_method'), class: 'custom-select' }) %>
  </div>

  <%# Описание %>
  <div class="form-group">
    <%= label_tag('inputDescription', t('.description'), class: 'font-weight-bold') %>
    <%= f.text_field :description,  class: "form-control", 
                                    id: "inputDescription",
                                    placeholder: t('.description') %>
  </div>

  <%# Сумма %>
  <div class="form-group">
    <%= label_tag('inputAmount', t('.amount'), class: 'font-weight-bold') %>
    <%= f.text_field :amount, class: "form-control", 
                                id: "inputAmount",
                                placeholder: t('.amount') %>
  </div>

  <%# Отправка формы %>
  <div class="actions">
    <%= f.submit t('.send'), class: 'btn btn-primary mb-2' %>

    <% if operation.persisted? %>

      <%= link_to t('.close'), new_budget_operation_path(@budget), 
                remote: true, class: "btn btn-danger ml-2 mb-2" %>

    <% end %>
  </div>
<% end %>
