<tr>
  <td scope="row"><%= l(operation.date, format: :default) %></td>
  <td><%= operation.type %></td>
  <td><%= operation.category %></td>
  <td><%= operation.description %></td>
  <td><%= operation.amount %></td>
</tr>
